---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import TeamCard from "@/components/team/TeamCard.astro";
// Content
import { getCollection } from "astro:content";
const allAuthors = (await getCollection("team")).sort((a, b) => {
  const nameA = a.data.name.toLowerCase();
  const nameB = b.data.name.toLowerCase();
  return nameA < nameB ? -1 : nameA > nameB ? 1 : 0;
});
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-32 pb-2">
      <Text
        tag="h1"
        variant="displayXL"
        class="text-base-900 font-medium tracking-tight lg:indent-42 text-pretty"
      >
        Meet our <span class="text-base-500 font-light italic">dedicated</span> team
        of <span class="text-base-500 font-light italic">two</span> creative professionals,
        combining <span class="text-base-500 font-light italic">expertise</span>
        in design and architecture to bring your <span
          class="text-base-500 font-light italic">vision</span
        > to life with <span class="text-base-500 font-light italic"
          >personalized</span
        > attention.
      </Text>
      <div
        class="grid grid-cols-1 lg:grid-cols-2 mt-12 lg:mt-24 gap-x-8 gap-y-12"
      >
        {allAuthors.map((post) => <TeamCard post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
