---
// Foundations
import Text from "@/components/foundations/elements/Text.astro";
import Kicker from "@/components/foundations/elements/Kicker.astro";
import RollingLink from "@/components/foundations/elements/RollingLink.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Components
import BlogCard from "@/components/blog/BlogCard.astro";
// Content
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<section>
  <Wrapper variant="standard" class="py-12 lg:py-24 p-8">
    <div>
      <Kicker copy="Journal" />
      <Text
        tag="p"
        variant="displayLG"
        class="text-base-900 font-medium tracking-tight lg:text-balance mt-12"
      >
        Expert analysis, certified reviews, and ROI case studies to help you navigate the wild west of automation.
      </Text>
      <RollingLink
        href="/blog"
        variant="light"
        hoverText="Read more"
        initialText="See all articles"
      />
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 mt-12 gap-x-8 gap-y-12">
      {allPosts.slice(0, 3).map((post) => <BlogCard post={post} />)}
    </div>
  </Wrapper>
</section>
