---
import BigLogo from "@/components/assets/BigLogo.astro";
// Fundations
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import Ticker from "@/components/assets/Ticker.astro";
---

<section class="overflow-hidden">
  <Wrapper variant="wide" class="py-4">
    <div
      class="relative overflow-hidden rounded-3xl h-[calc(100vh-15rem)] items-end justify-end flex lg:items-start lg:justify-start"
    >
      <Ticker />
      <div
        class="absolute inset-0 z-10 flex flex-col items-center px-8 justify-center lg:-mb-32 mix-blend-difference pointer-events-none"
        aria-hidden="true"
      >
        <BigLogo class="text-base-950" />
      </div>
      <video
        autoplay
        muted
        loop
        playsinline
        class="object-cover size-full absolute inset-0 object-center"
      >
        <source src="/hero.mp4" type="video/mp4" />
        <source src="/hero.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
    </div>
  </Wrapper>
</section>
