---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---
<section>
  <Wrapper variant="standard" class="py-12 lg:py-24">
   <div>
      <Text
        tag="p"
        variant="display2XL"
        class="text-base-900 font-medium tracking-tight"
      >
        We are the <span class="text-base-500 font-light italic"
          >Beverage Automation Partner</span
        > dedicated to 
        <span class="text-base-500 font-light italic">uncapping your growth</span
        > with certified, reliable robotic solutions.
      </Text>
   </div>
  </Wrapper>
</section>