---
// Foundations
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import Text from "@/components/foundations/elements/Text.astro";
---

<section class="py-12 lg:py-24">
  <Wrapper variant="standard">
    <Text
      tag="p"
      variant="displayXL"
      class="text-base-900 font-medium tracking-tight lg:indent-42 text-pretty"
    >
      At Artidyn, we believe automation is a <span
        class="text-base-500 font-light italic">business model upgrade</span
      >, not a science experiment. We tame the <span
        class="text-base-500 font-light italic">wild west</span
      > of unverified claims with
      <span class="text-base-500 font-light italic"
        >certified reliability</span
      >, ensuring every robot delivers ROI, not just novelty.
    </Text>
  </Wrapper>
</section>