---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const colors = [
  {
    name: "Accent",
    shades: [
      { name: "Accent 50", class: "bg-accent-50" },
      { name: "Accent 100", class: "bg-accent-100" },
      { name: "Accent 200", class: "bg-accent-200" },
      { name: "Accent 300", class: "bg-accent-300" },
      { name: "Accent 400", class: "bg-accent-400" },
      { name: "Accent 500", class: "bg-accent-500" },
      { name: "Accent 600", class: "bg-accent-600" },
      { name: "Accent 700", class: "bg-accent-700" },
      { name: "Accent 800", class: "bg-accent-800" },
      { name: "Accent 900", class: "bg-accent-900" },
      { name: "Accent 950", class: "bg-accent-950 outline outline-accent-900" },
    ],
  },

  {
    name: "Base",
    shades: [
      { name: "Base 50", class: "bg-base-50" },
      { name: "Base 100", class: "bg-base-100" },
      { name: "Base 200", class: "bg-base-200" },
      { name: "Base 300", class: "bg-base-300" },
      { name: "Base 400", class: "bg-base-400" },
      { name: "Base 500", class: "bg-base-500" },
      { name: "Base 600", class: "bg-base-600" },
      { name: "Base 700", class: "bg-base-700" },
      { name: "Base 800", class: "bg-base-800" },
      { name: "Base 900", class: "bg-base-900" },
      { name: "Base 950", class: "bg-base-950 outline outline-base-900" },
    ],
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-32">
      <Text tag="h1" variant="displaySM" class="text-base-900 text-balance">
        Colors
      </Text>
      <div class="space-y-12 mt-12">
        {
          colors.map((color) => (
            <div class="flex flex-col gap-2">
              <Text
                tag="p"
                variant="bodyLG"
                class="text-base-600 text-balance mt-2"
              >
                {color.name}
              </Text>
              <div class="mt-2 grid grid-cols-2 lg:grid-cols-11 gap-2 gap-y-8">
                {color.shades.map((shade) => (
                  <div>
                    <div class={`w-full aspect-square  ${shade.class}`} />
                    <span class="text-xs text-base-600 mt-1">{shade.name}</span>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
