---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const pageSections = [
  {
    title: "Static",
    columns: [
      {
        category: " Pages",
        links: [
          { text: "Home", href: "/" },
          { text: "404", href: "/404" },
          { text: "Studio", href: "/studio" },

          { text: "Contact", href: "/contact" },
        ],
      },
      {
        category: "System",
        links: [
          { text: "Colors", href: "/system/colors" },
          { text: "Links", href: "/system/links" },
          { text: "Buttons", href: "/system/buttons" },
          { text: "Typography", href: "/system/typography" },
        ],
      },
      {
        category: "Resources",
        links: [
          { text: "Social", href: "https://x.com/lexingtonthemes" },
          {
            text: "License",
            href: "https://lexingtonthemes.com/legal/license",
          },
          {
            text: "Documentation",
            href: "https://lexingtonthemes.com/documentation/",
          },
        ],
      },
    ],
  },
  {
    title: "Content Collections",
    columns: [
      {
        category: "Blog Pages",
        links: [
          { text: "Home ", href: "/blog/" },
          { text: "Post", href: "/blog/posts/1" },
          { text: "Tag Index", href: "/blog/tags" },
          { text: "Tag Category", href: "/blog/tags/design" },
          { text: "RSS", href: "/rss.xml" },
        ],
      },
      {
        category: "Projects",
        links: [
          { text: "Home", href: "/projects/" },
          {
            text: "Details",
            href: "/projects/1",
          },
        ],
      },
      {
        category: "Services",
        links: [
          { text: "Home", href: "/services/" },
          {
            text: "Details",
            href: "/services/1",
          },
        ],
      },

      {
        category: "Team",
        links: [
          { text: "Home", href: "/team/" },
          { text: "Details", href: "/team/david-lee" },
        ],
      },
      {
        category: "Legal",
        links: [
          { text: "Terms Of Use", href: "/legal/terms" },
          { text: "Cookie Policy", href: "/legal/cookies" },
          { text: "Privacy Policy", href: "/legal/privacy" },
          { text: "Copyright Notice", href: "/legal/copyright" },
          { text: "Professional Disclaimer", href: "/legal/disclaimer" },
        ],
      },
    ],
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-32">
      <Text tag="h1" variant="displaySM" class="text-base-900 text-balance">
        Overview
      </Text>
      <div class="flex flex-col mt-12 gap-12">
        {
          pageSections.map((section) => (
            <div>
              <Text tag="h3" variant="textSM" class="font-medium text-base-900">
                {section.title}
              </Text>
              <div class="mt-4 grid grid-cols-2 gap-y-4 md:grid-cols-2 lg:grid-cols-5">
                {section.columns.map((column) => (
                  <div>
                    <Text
                      tag="p"
                      variant="textXS"
                      class="font-medium text-base-900 uppercase"
                    >
                      {column.category}
                    </Text>
                    <ul role="list" class="mt-2 ">
                      {column.links.map((link) => (
                        <li>
                          <Text
                            tag="a"
                            variant="textXS"
                            href={link.href}
                            class="text-base-500 hover:text-base-900 duration-300"
                          >
                            {link.text}
                          </Text>
                        </li>
                      ))}
                    </ul>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
