---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogCard from "@/components/blog/BlogCard.astro";
// Content
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<BaseLayout>
  
  <section>
    <Wrapper variant="standard" class="pt-32 pb-2">
      <Text
        tag="h1"
        variant="displayXL"
        class="text-base-900 font-medium tracking-tight lg:indent-42 text-pretty"
      >
        Explore our <span class="text-base-500 font-light italic">insights</span
        > and <span class="text-base-500 font-light italic">perspectives</span> on
        interior design, sharing <span class="text-base-500 font-light italic"
          >stories</span
        >, <span class="text-base-500 font-light italic">trends</span>, and <span
          class="text-base-500 font-light italic">inspiration</span
        > from our creative journey.
      </Text>
      <div class="grid grid-cols-1 lg:grid-cols-3 mt-12 gap-x-8 gap-y-12">
        {allPosts.map((post) => <BlogCard post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
